In [1]:
from importlib import reload
import os
import glob2
import pandas as pd
import numpy as np
import sys
import glob
#sys.path.pop(0)

'/Users/gks/Dropbox/mypylib/notebooks/GIT'

In [2]:
import hpfspecmatch

AIRTOVAC (TRUE for HARPS, FALSE TRUE HPF):  False

# Summarizing orders for a given HPFSpecMatch Run

In [3]:
files = sorted(glob.glob('../output/20200730_toi1468/TOI-1468/*/*.pkl'))
df_orders, df_orders_summary = hpfspecmatch.summarize_values_from_orders(files,'TOI-1468')

Saved to ../output/20200730_toi1468/TOI-1468/TOI-1468_overview.csv
Saved to ../output/20200730_toi1468/TOI-1468/TOI-1468_med.csv

In [4]:
# This saves two .csv files

In [5]:
df_orders

,teff,logg,feh,vsini,weights,filenames
0,3399.570413,4.872674,-0.069859,1.492108,"[0.40812392175339746, 0.329939442386762, 0.000...",../output/20200730_toi1468/TOI-1468/TOI-1468_4...
1,3377.500224,4.908124,-0.120432,1.031589,"[0.30106323124397455, 0.3659015625871914, 0.05...",../output/20200730_toi1468/TOI-1468/TOI-1468_5...

In [6]:
df_orders_summary

  parameters       median        std
0       teff  3388.535319  15.605981
1       logg     4.890399   0.025067
2        feh    -0.095145   0.035761
3      vsini     1.261848   0.325636